# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/*
build-exalteredpp-Desktop_Qt_5_12_1_MSVC2015_64bit-Debug/
build-exalteredpp-Desktop_Qt_5_12_1_MSVC2015_64bit-Default/
exalteredpp/build-test-Desktop_Qt_5_12_1_MSVC2015_64bit-Default/
exalteredpp/build-qt-test-Desktop_Qt_5_12_1_MSVC2015_64bit-Debug/
exalteredpp/build/
