language: cpp
dist: trusty
compiler: g++
sudo: required

notifications:
  email:
    on_success: change
    on_failure: change

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt58-trusty -y
  - sudo apt-get update

install:
  - sudo apt-get install qt58base qt58svg qt58charts-no-lgpl qt58xmlpatterns
  - source /opt/qt58/bin/qt58-env.sh


script:
  - cd exalteredpp/build/
  - chmod 777 run_test.sh
  - ./run_test.sh
  
after_success:
  - bash <(curl -s https://codecov.io/bash)
